body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    background-size: cover;
}
.section-2 {
    height: 100%;
    margin: 0 auto;
    padding: 20px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px 250px;
}
.apply-internship {
    min-width: 270px;
    margin: 0;
    height: auto;
}
@media screen and (max-width: 928px) {
    .intern-meet {
        width: 250px;
    }
}
@media screen and (max-width: 928px) {
    .section-2 {
        display: block;
    }
}
#how-it-works {
    color: #084482;
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    font-weight: bold;
    margin: 20 auto;

}
.content {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.Apply-internship7 {
    color: #084482;
    font-size: 25px;
    line-height: 34px;
    font-weight: 600;
}
.Apply-internship-7 {
    color: #084482;
    font-size: 25px;
    line-height: 34px;
    font-weight: 600;   
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    border: 1px solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);   
    overflow: hidden;
    margin-top: 30px
    
}
th {
    background-color: #3C6B9C;
    color: #FFFFFF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    font-size: 20px;
    text-align: left;
    padding: 12px 15px; 
}
td {
    padding: 12px 15px;
}
tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
}
.click {
    width: 120px;
    display: block;
    margin-top: 20px;
    height: 30px;
    box-sizing: border-box;
    background: #00AEFF;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11);
    border-radius: 4px;
    color: #FFFFFF;

}
.intern-meet {
    width: 450px;
}

